TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
OPENAI_API_KEY=AIzaSyAw51d-8Ds1BOW7IJEeVILbgPbbs7NFuPQ
OPENAI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai
MODEL_NAME=gemini-2.5-flash
NOTION_API_KEY=
NOTION_DB_ID=
